<plugin name='split-test' version='0.3' grailsVersion='2.0 &gt; *'>
  <author>Eric Berry</author>
  <authorEmail>cavneb@gmail.com</authorEmail>
  <title>Split Test Plugin</title>
  <description>SplitTest is an A/B testing framework designed to work with Grails.</description>
  <documentation>https://github.com/one-on-one/split-test</documentation>
  <type>SplitTestGrailsPlugin</type>
  <resources>
    <resource>SplitTestPluginResources</resource>
    <resource>com.ono.ab.SecurityFilters</resource>
    <resource>com.ono.ab.SplitTestAuthController</resource>
    <resource>com.ono.ab.SplitTestController</resource>
    <resource>com.ono.ab.SplitTestVariantController</resource>
    <resource>com.playground.WelcomeController</resource>
    <resource>com.ono.ab.SplitTest</resource>
    <resource>com.ono.ab.SplitTestVariant</resource>
    <resource>com.ono.ab.SplitTestVariantHit</resource>
    <resource>com.ono.ab.SessionStorageService</resource>
    <resource>com.ono.ab.SplitTestService</resource>
    <resource>com.ono.ab.SplitTestTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>