body {
    padding-top: 60px;
    padding-bottom: 40px;
}

table#report th {
    text-align: center;
}

tr.first td {
    border-top: 0px;
}

tr.champion td {
    background-color: #ffffaa;
    text-align: center;
}

tr.contender td {
    text-align: center;
}

.date-fields select {
    width: 80px !important;
}

sup.tooltip {
    font-size: 9px;
}

.sidebar-nav {
    padding: 9px 0;
}

.instructions h3 {
    padding-bottom: 5px;
}